@import '../home/Home.scss';
@import '../../Common.scss';
$maroon: #8B0000;

.amt-selector {
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.qty-selector {
    @extend .amt-selector;
}

.maroon {
    color: $maroon;
}

