body {
    padding-left: 5%;
    padding-right: 5%;
}

.flex {
    display: flex;
    flex-wrap: wrap; /*set whether items are forced onto 1 line or can wrapped into multiple lines*/
}

.flex-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.flex-1 {
    flex: 1;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.align-self-center {
    align-self: center;
}

.pad-bottom-10 {
    padding-bottom: 10px;
}

.m-right-10 {
    margin-right: 10px;
}

.max-width-300 {
    max-width: 300px;
}

/*-----------------NAV-----------------------------*/
#logo {
    max-height: 70px;
}


.nav {
    padding: 0px;
    margin: 0px;
    /* border-bottom: 1px solid #b9b7b7; */
}

.nav-item {
    margin-right: 35px;
    padding-top: 10px;
    text-decoration: none;
    color: #005dab;
}

/*-----------------TEA CONTAINER-----------------------------*/
.product-container {
    box-shadow: 2px 5px 3px #b9b7b7;
    border-radius: 5px;
    margin-right: 20px;
}